.root-wrapper{
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: relative;
  background: linear-gradient(90deg, #F17C58, #e94584, #24AADB, #27DBB1, #FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
  
  @keyframes gradient  {
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 100%;
    }
  }

  .main-title{
    color: black;
    text-align: center;

    @media only screen and (min-width: 768px) {
      color: green;
    }

    @media only screen and (min-width: 1000px){
      color: red;
    }
  }

  .updated-title{
    font-size: 15px;
  }

  .saved-songs-container {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin: 15px;

    .collapse{
      margin-bottom: 5px;
      max-height: 80vh;
      overflow-y: auto;
    }

    .song-count{
      background-color: #5bea5b;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      position: absolute;
      top: -5px;
      left: -5px;
      font-weight: bold;
    }

    .button-container {
      display: flex;
      justify-content: flex-end;

      .saved-songs-button {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}